:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #f6f7f8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.8em;
  line-height: 1.2em;
}

h2 {
  font-size: 3em;
  line-height: 72px;
  margin: 32px 0 32px 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1.3;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 0;
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 16px 28px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #007EC6;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}


#app {
  max-width: 1138px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 767px) {
  #app {
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #app {
    padding: 1.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #app {
    padding: 2rem;
  }
}

@media (min-width: 1281px) {
  #app {
    padding: 3rem;
  }
}



/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /*button {
    background-color: #f9f9f9;
  }
}
*/